*{
  margin: 0;
  padding: 0;
}
body{
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color:white;
text-align: center;
font-size: 18px;
 font-family: 'Open Sans', sans-serif;
 margin-top: 20px;
  
}
.Author{
  height: 400px;
  width: 350px;
  object-fit: cover;
  border-radius: 360px;
  transform: translate(0px,0px);
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.div2{
  width: 350px;
  height: 330px;
  background-color: green;
border-radius: 50px;
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

margin: 10px;
}
.div4{
  width: 350px;
  height: 330px;
background-color: green;
border-radius: 50px;
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

margin-left: auto;
margin-right: auto;
display: block;
transform: translate(200px,-340px
);
}
svg{
  margin: 0;
  padding: 0;
}
.svg2{
  margin: -5px;
}
.Pauthor{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
transform: translate(0px,-300px);


}
.deco1{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(50deg);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 150px;
  width: 150px;
    transform: rotate(15deg) translate(500px, -270px);
  

  
}
.deco2{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 150px;
  width: 150px;
    transform: rotate(15deg) translate(0px, -300px);
  
}
.deco3{
 /* From https://css.glass */
 background: rgba(255, 255, 255, 0.2);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.3); 
 height: 150px;
  width: 150px;
    transform: rotate(15deg) translate(200px, -500px);
  
}
.Lastdiv {
  width: 800px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: linear-gradient(to right, #0f9b0f, #000000);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transform: translate(0px,-150px);
}
hr{
  width: 100%;
  height: 10px;
  background-color: white;
  border: none;
  border-radius: 20px;

}
.div1{
  background-color: linear-gradient(to right, #0f9b0f, #000000);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  border-radius: 20px;
}